<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    <h1>Maintainance Break</h1>
    <p> We are updating our website we will be back soon</p>

    {{> footer}}
</body>